<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../favicon.ico"> -->
    

    <title>My Blog</title>

    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= render "shared/nav" %>

    <main role="main" class="container">
      <div class="row row-offcanvas row-offcanvas-right">
        <div class="col-12 col-md-9">
          <div class="jumbotron">
            <h1>Hello, world!</h1>
            <p>This is an example blog.</p>
          </div>
          <div class="row">
            <%= yield %>
              <!-- <p><a class="btn btn-secondary" href="#" role="button">View details &raquo;</a></p> -->
              <!--/span-->
          </div><!--/row-->
        </div><!--/span-->
        <div class="col-6 col-md-3 sidebar-offcanvas" id="sidebar">
          <div class="list-group">
            <%= link_to "Existing Articles", articles_path, class: 'list-group-item active' %>
            <%= link_to "New Article", new_article_path, class: 'list-group-item' %>
          </div>
        </div>
      </div><!--/row-->
    <hr>
    </main><!--/.container-->
      <footer>
        <p>&copy; Vaiva | 2018</p>
      </footer>
  </body>
</html>
